<%= current_user.email %>
<h1>掲示板</h1>

<%= link_to "ログイン", new_user_session_path %>

<%= form_with model:Post.new do |form| %>
  <%= form.text_field :content %>
  <%= form.submit "投稿する" %>
<% end %>

<ul>
  <%- @posts.find_each do |post| %>
    <li>
      <%= post.content %>
    </li>
  <% end %>
</ul>