<h1>掲示板</h1>
<%= current_user&.email %>

<%= link_to "ログイン", new_user_session_path %>

<%= form_with model:Post.new do |form| %>
  <%= form.text_field :content %>
  <%= form.submit "投稿する" %>
<% end %>

<ul>
  <%- @posts.find_each do |post| %>
    <li>
      <%= post.content %>
      作成者：<%= current_user.email %>
      投稿日時：<%= current_user.created_at %>

      <%- if post.user == current_user %>
        <%= button_to("削除する", post_path(post), method: "delete", data: {confirm: "本当に削除しますか？"})%>
      <% end %>
    </li>
  <% end %>
</ul>